# Run queries directly using dbt

In [1]:
from utils import get_adapter

In [2]:
adapter = get_adapter(profile_name="default", target_name="dev")

In [3]:
query = '''
SELECT l_returnflag,
       l_linestatus,
       sum(l_quantity)      as sum_qty,
       sum(l_extendedprice) as sum_base_price,
       sum(l_extendedprice * (1 - l_discount))
                            as sum_disc_price,
       sum(l_extendedprice * (1 - l_discount) *
           (1 + l_tax))     as sum_charge,
       avg(l_quantity)      as avg_qty,
       avg(l_extendedprice) as avg_price,
       avg(l_discount)      as avg_disc,
       count(*)             as count_order
FROM sampledb.tpch_sf1.lineitem
WHERE l_shipdate <= dateadd(day, -90, to_date('1998-12-01'))
GROUP BY l_returnflag,
         l_linestatus
ORDER BY l_returnflag,
         l_linestatus
'''

In [4]:
resp, table = adapter.execute(query, fetch=True)

In [5]:
print(resp)

SUCCESS 4

In [6]:
table.print_table()

| L_RETURNFLAG | L_LINESTATUS |    SUM_QTY |     SUM_BASE_PRICE |       SUM_DISC_PRICE |           SUM_CHARGE | ... |
| ------------ | ------------ | ---------- | ------------------ | -------------------- | -------------------- | --- |
| A            | F            | 37,734,107 |  56,586,554,400.73 |  53,758,257,134.870… |  55,909,065,222.828… | ... |
| N            | F            |    991,417 |   1,487,504,710.38 |   1,413,082,168.054… |   1,469,649,223.194… | ... |
| N            | O            | 74,476,040 | 111,701,729,697.74 | 106,118,230,307.606… | 110,367,043,872.497… | ... |
| R            | F            | 37,719,753 |  56,568,041,380.90 |  53,741,292,684.604… |  55,889,619,119.832… | ... |