# Run queries directly using `snowflake-connector-python`

In [1]:
from utils import get_cursor

In [2]:
cursor = get_cursor(profile_name="default", target_name="dev")

In [3]:
query = '''
SELECT l_returnflag,
       l_linestatus,
       sum(l_quantity)      as sum_qty,
       sum(l_extendedprice) as sum_base_price,
       sum(l_extendedprice * (1 - l_discount))
                            as sum_disc_price,
       sum(l_extendedprice * (1 - l_discount) *
           (1 + l_tax))     as sum_charge,
       avg(l_quantity)      as avg_qty,
       avg(l_extendedprice) as avg_price,
       avg(l_discount)      as avg_disc,
       count(*)             as count_order
FROM sampledb.tpch_sf1.lineitem
WHERE l_shipdate <= dateadd(day, -90, to_date('1998-12-01'))
GROUP BY l_returnflag,
         l_linestatus
ORDER BY l_returnflag,
         l_linestatus
'''

In [4]:
df = cursor.execute(query).fetch_pandas_all()

In [5]:
df

,L_RETURNFLAG,L_LINESTATUS,SUM_QTY,SUM_BASE_PRICE,SUM_DISC_PRICE,SUM_CHARGE,AVG_QTY,AVG_PRICE,AVG_DISC,COUNT_ORDER
0,A,F,37734107.0,56586554400.73,53758257134.8700,55909065222.827692,25.52200585,38273.12973462,0.04998530,1478493
1,N,F,991417.0,1487504710.38,1413082168.0541,1469649223.194375,25.51647192,38284.46776085,0.05009343,38854
2,N,O,74476040.0,111701729697.74,106118230307.6056,110367043872.497010,25.50222677,38249.11798891,0.04999659,2920374
3,R,F,37719753.0,56568041380.90,53741292684.6040,55889619119.831932,25.50579361,38250.85462610,0.05000941,1478870